div#test{
    border:#000 10px solid;
    padding:10px 40px 40px 40px;
    text-align: center;
}

html{
    background: aliceblue;
}

h2{
    text-align: center;
}

.footnote{
    text-align: center;
}